// Tipografía
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$amarillo: #F8ED6D;
$naranja: #EF885D;
$rojo: #B73A5C;
$rosa: #FA4753;
$violeta: #6B2D70;
$turquesa: #3BA6BA;
$negro: #000;
$blanco: #FFF;

